__pycache__/
venv/
models/
uploads/
*.pyc
test_fnn.csv
train_fnn.csv
test_text_model.py
aeroplane.jpg
cat.jpg
tempCodeRunnerFile.py
test_image_text.py
build_fakenewsnet_excel.py
train.tsv
valid.tsv
backend/xai/__pycache__